---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import EmojiSmileIcon from "../icons/EmojiSmile.astro";
import LevelSignalIcon from "../icons/LevelSignal.astro";
import SocialMediaList from "../components/SocialMediaList.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import SkillsCard from "../components/SkillsCard.astro";
---

<Layout
  title="Portfolio of Juanfercito - Web Development and Programming"
  description="Hire Juanfercito for creating your web and mobile applications"
>
  <main class="px-4">
    <SectionContainer class="py-32 pb-32">
      <h1
        class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex
        flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm Juanfercito
        <a
          href="https://www.linkedin.com/in/jonathan-lozano-moreira-11b6b3263/"
          target="-blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Open to Work</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[500px]">
        <span> +1 years of experience.</span>
        <span class="text-yellow-200/90"> Web Developer.</span>
      </h2>
      <span class="text-red-100/90"> From manta, Manabí, Ecuador.</span>
      <span class="opacity-80">
        Creating Eficients and Likeable applications
      </span>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialMediaList
          href="https://www.linkedin.com/in/jonathan-lozano-moreira-11b6b3263"
        >
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialMediaList>
        <SocialMediaList href="https://github.com/juanfercito?tab=repositories">
          <GithubIcon class="size-4 md:size-6" />
          GitHub
        </SocialMediaList>
        <SocialMediaList href="mailto:jalmlozano@hotmail.com">
          <MailIcon class="size-4 md:size-6" />
          jalmlozano@hotmail.com
        </SocialMediaList>
      </nav>
    </SectionContainer>

    <SectionContainer id="about">
      <h2 class="text-2xl font-semibold mb-12 flex gap-x-4 items-center">
        <EmojiSmileIcon class="size-4 md:size-6" />
        About Me
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
        <BriefcaseIcon class="size-4 md:size-6" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
        <CodeIcon class="size-4 md:size-6" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="skills">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-4 items-center">
        <LevelSignalIcon class="size-4 md:size-6" />
        Skills
      </h2>
      <SkillsCard />
    </SectionContainer>
  </main>
</Layout>
