---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "August 2022 - Today...",
    title: "Jr. BackEnd Developer",
    company: "Lozano Distribuciones",
    description:
      "Design and maintenance of the company's customer and product database",
    link: "https://www.facebook.com/profile.php?id=100090848298578",
  },
  {
    date: "August 2021 - July 2022",
    title: "Graphic Designer",
    company: "La Tienda de Andresito",
    description:
      "Design, editing and animation consulting for digital marketing, social networks and sales advertising, with +5 years of experience designing, editing and animating multimedia content using popular design tools",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
