---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "August 2022 - Today...",
    title: "Jr. BackEnd Developer",
    company: "Lozano Distribuciones",
    description:
      "Design and maintenance of the company's customer and product database",
    link: "/",
  },
  {
    date: "August 2021 - July 2022",
    title: "Graphic Designer",
    company: "La Tienda de Andresito",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creaci칩n y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantaci칩n de medidas de integraci칩n continua y despliegue con A/B testing en m치s de 15 equipos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
